#input {
  font-size: 16px;
}

form#client-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 65%;
}

input#input {
  width: 35%;

  margin: 5px;
}
