main#all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 15px;
}

section#chef-card {
  background-color: #FFF;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

hr#lines {
  width: 50%;
  border-bottom: 1px solid grey;
  border-top: none;
}
