button#btn {
  background-color: #FFF;
  border-radius: 10px;
  font-size: 20px;
  color: black;
  margin: 20px;
  padding: 12px;
  outline: none;
}

button#btn:focus {
  background-color: #5BE72A;
}

button#btn:hover {
  background-color: #5BE72A;
}

button#quant-btn {
  font-size: 20px;
  padding: 2px;
}
