main#all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  margin: 15px;
}

section#chef-card {
  background-color: #FFF;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

hr#lines {
  width: 50%;
  border-bottom: 1px solid grey;
  border-top: none;
}

p#option {
  background-color: rgb(194, 194, 194);
  color: black;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
}

p#extra {
  background-color: #adfa70;
  color: black;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
}

div#options-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

button.back{
  position: fixed;
  bottom:40px;
  right:10px;
  border-radius: 30px;
  opacity: 0.8;
  padding: 15px;
}
